@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f6f6f6;
  font-family: 'Balsamiq Sans', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}


.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1vw;
}

.logo {
  background-image: url('../images/logo.png');
  width: 80px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #da729f;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.fa-caret-down {
  margin-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #000000;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #e5cbd6f1;
}

.dropdown-content a:hover {
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu {
  align-self: center;
  cursor: pointer;
  color: #da729f;
}

.items {
  padding-bottom: 20vw;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 5vw;
}

.card {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.img-food {
  cursor: pointer;
  max-width: 25vw;
  min-width: 25vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.food-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.food-name {
  cursor: pointer;
  margin-left: 0.5vw;
  flex-wrap: nowrap;
  max-width: 25vw;
  min-width: 25vw;
}

.love {
  align-self: flex-end;
  margin-right: 0.75vw;
  margin-top: -1vw;
  padding: 10px;
  cursor: pointer;
}

.likes {
  align-self: flex-end;
  margin-top: -1vw;
  margin-right: 0.5vw;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 10px;
}

.button {
  width: 80%;
  padding: 5px 0;
  cursor: pointer;
  box-shadow: 3px 3px 3px 1px #4c4a4b;
}