@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f6f6f6;
  font-family: 'Balsamiq Sans', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}


.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1vw;
}

.logo {
  background-image: url('../images/logo.png');
  width: 80px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu {
  align-self: center;
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: 5vw;
  gap: 30px;
}

.img-food {
  width: 235px;
  height: 250px;
  background-image: url('../images/mutton-briyani.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.food-info {
  display: flex;
  justify-content: space-between;
}

.likes {
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.button {
  width: fit-content;
  padding: 3px 30px;
}